# Core ML & Data Science
jupyterlab
ipykernel
numpy
pandas
scikit-learn
matplotlib
plotly
seaborn
statsmodels
xgboost

# NLP
beautifulsoup4
lxml
regex
unidecode
ftfy

# image
pillow
opencv-python-headless

# bar progress
tqdm
nltk
ipywidgets

#DeepLearning
transformers
torch
timm
